.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #0E0B14;
    position: fixed;
    z-index: 1000;
}

div {
    width: 1216px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73px;
}

ul {
    display: flex;
    gap: 20px;
}

a {
    color: #fff;
    font-size: 14px;
    line-height: normal;
    list-style: none;
    cursor: pointer;
}

li:hover {
    background: var(--vf, linear-gradient(95deg, #FE2A2A 12.25%, #F7931E 108.64%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}