footer {
    width: 100%;
    background: #0F0E19;
    height: 291px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer section img:nth-child(2) {
    width: 260px;
    height: 48px;
    object-fit: cover;
    margin-right: 292px;
}

footer section {
    display: flex;
    align-items: center;
    gap: 18px;
}

footer section a svg {
    font-size: 22px;
    color: white;
    transition: color 0.3s ease;
}

footer section p {
    color: #C0C0C0;
    font-size: 14px;
    font-weight: 500;
    line-height: 134.523%;
}

footer strong {
    display: flex;
    gap: 15px;
}

footer span p {
    font-size: 14px;
}

footer span p:nth-child(2) {
    margin-top: 7px;
}

footer strong a.fb svg:hover {
    color: #1195f5;
}

footer strong a.linkedin svg:hover {
    color: #0b68c6;
}

footer strong a.discord svg:hover {
    color: #444ca9;
}

footer strong a.youtube svg:hover {
    color: #fc0101;
}

footer strong a.telegram svg:hover {
    color: #7162b8;
}

@media (max-width: 720px) {
    footer span {
        padding-left: 40px;
    }

    footer strong {
        padding-right: 40px;
    }


    footer section {
        width: 100%;
    }
    
    footer section strong  {
        margin-left: 40px;
    }

    footer section img {
        margin-right: 0px;
    }

    footer section {
        justify-content: space-between;
    }
}

footer section span p small {
    font-size: 14.5px;
    color: #999;
}

@media (max-width: 774px) {
    footer section span p {
        font-size: 12px;
    }
}

@media (max-width: 499px) {
    footer section {
        display: flex;
        align-items: start;
    }

    footer section strong  {
        margin-left: 40px;
    }
}

@media (max-width: 435px) {
    footer span {
        padding-left: 20px;
    }

    footer span img {
        height: 40px;
    }

    footer section strong  {
        margin-left: 20px;
    }

    footer strong {
        padding-right: 20px;
    }
}

@media (max-width: 811px) {
    footer section {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}