.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #0E0B14;
    position: fixed;
    z-index: 1000;
}



div.headerContainer {
    width: 1216px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73px;
}

nav {
    display: flex;
    gap: 20px;
}

li {
    color: #fff;
    font-size: 14px;
    line-height: normlil;
    list-style: none;
    cursor: pointer;
}

li:hover {
    background: var(--vf, linear-gradient(95deg, #FE2A2A 12.25%, #F7931E 108.64%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1340px) {
    div.headerContainer img {
        margin-left: 40px;
    }

    div.headerContainer nav {
        margin-right: 40px;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .menuMobile {
        display: block;
    }
}

@media (max-width: 444px) {
    .headerContainer img {
        width: 166px;
        height: 30px;
        object-fit: cover;
        margin-right: 40px;
    }
}

@media (max-width: 435px) {
    div.headerContainer img {
        margin-left: 20px;
    }
}

@media(max-width: 281px) {
    .headerContainer img {
        margin-right: 0px;
    }
}