.main__container{
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

#additionalInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 64px 0;
}

#additionalInformation img {
   max-width: 470px;
   width: 100%;
}

#additionalInformation p {
    color: #9B9B9B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 8px;
}

.informations {
    margin-top: 25px;
}

.informations span {
    font-size: 19px;
    font-weight: 700;
}

.informations p {
    margin-top: 15px;

    color: #C0C0C0;
    font-size: 16px;
    font-weight: 500;
    line-height: 134.523%;
}

@media (max-width: 1340px) {
    #additionalInformation img {
        height: 30px;

    }

    #additionalInformation p {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (max-width: 435px) {
    #additionalInformation p {
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
    }
}

@media (max-width: 512px) {
    #additionalInformation img {
        height: 20px;
    }
}

@media (max-width: 388px) {
    #additionalInformation img {
        height: 17px;
    }

    .informations span {
        font-size: 18px;
    }
}

@media (max-width: 301px)  {
    #additionalInformation img {
        height: 16px;
    }

    .informations span {
        font-size: 17px;
    }
}

@media (max-width: 448px) {
    .informations span {
        font-size: 16px;
    }

    .informations p {
        font-size: 12.5px;
    }
}
