#communityLogoOpenSource img:nth-child(2) {
    width: 170px;
    height: 33px;
    margin-left: 0;object-fit: cover;
  }
  
#communityLogoOpenSource img:nth-child(1) {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

#communityLogoOpenSource {
    display: flex;
    align-items: start;
    gap: 10px;
}
  