.TagContainer {
    width: 1216px;
    margin-top: 62px;
}



#additionalInformation {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 43px;
}

#additionalInformation img {
    width: 470px;
}

#additionalInformation p {
    color: #9B9B9B;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 8px;
}

.informations {
    margin-top: 25px;
}

.informations span {
    font-size: 19px;
    font-weight: 700;
}

.informations p {
    margin-top: 15px;

    color: #C0C0C0;
    font-size: 14px;
    font-weight: 500;
    line-height: 134.523%;
}

@media (max-width: 1340px) {
    .TagContainer {
        width: 100%;
    }

    .TagContainer section.informations {
        margin-right: 50px;
        margin-left: 50px;
    }

    #additionalInformation img {

        height: 30px;

    }

    #additionalInformation p {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (max-width: 435px) {
    .TagContainer section.informations {
        margin-right: 20px;
        margin-left: 20px;
    }

    #additionalInformation p {
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
    }
}

@media (max-width: 512px) {
    #additionalInformation img {
        height: 20px;
    }
}

@media (max-width: 312px) {
    #additionalInformation img {
        height: 17px;
    }
}

@media (max-width: 448px) {
    .informations span {
        font-size: 16px;
    }

    .informations p {
        font-size: 12.5px;
    }
}