* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  color: #fff;
  background-color: #0C0911;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: #0C0911;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 1px solid rgba(254, 42, 42, 0.26);
  background: linear-gradient(134deg, rgba(4, 158, 168, 0.06) 1.22%, rgba(70, 37, 141, 0.00) 100%);

}