.copyrightFooter {
    background-color: #1e1c2ec4;
    padding: 20px 0px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#copyrightFooterInformation {
    display: flex;
    justify-content: space-between;
    width: 1216px;

    margin-left: 50px;
    margin-right: 50px;
}

#copyrightFooterInformation p {
    font-size: 12px;
    color: #aaaaaa;
}

#copyrightFooterInformation p a {
    color: rgb(116, 171, 253);
    font-size: 12px;
}

#copyrightFooterInformation ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

#copyrightFooterInformation li {
    display: flex;
    gap: 5px;
}

#copyrightFooterInformation li div {
    display: flex;
    flex-direction: column;
}

#copyrightFooterInformation li div a {
    font-size: 11.5px;
}

#copyrightFooterInformation li div a#yout {
    font-size: 10.5px;
    color: #aaaaaa;
}

#copyrightFooterInformation li img {
    height: 25px;
    width: 25px;
    border-radius: 4px;
    object-fit: cover;
    border: 1px solid #eee;
    box-shadow: 1px 2px 10px #eeeeee50;
}

@media(max-width: 1372px) {
    #copyrightFooterInformation ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 988px) {
    #copyrightFooterInformation {
        display: flex;
        flex-direction: column;
    }

    #copyrightFooterInformation ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #copyrightFooterInformation p {
        margin-top: 20px;
    }
}

@media(max-width: 506px) {
    #copyrightFooterInformation ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 435px) {
    #copyrightFooterInformation {
        margin-left: 20px;
        margin-right: 20px;

    }
}