.organizationAndSupport {
  display: flex;
  height: 100vh;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 124px 0;

}

.comunity {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.organizationAndSupport ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 30px;
}

.organizationAndSupport ul li {
  display: flex;
  gap: 23px;
  margin-top: -10px;
}

.organizationAndSupport ul strong {
  font-size: 16px;
  background: var(--BG, linear-gradient(5deg, #fe2a2a 12.5%, #f7931e 0.4%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.organizationAndSupport ul li img {
  height: 28px;
  max-width: 150px;
  width: 100%;
}

.organizationAndSupport ul li#sliverimg img {
  height: 60px;
  max-width: 120px;
  width: 100%;
}

.organizationAndSupport ul li#inGit img {
  height: 35px;
  max-width: 100px;
  width: 100%;
}

#designLiquido_2 {
  max-width: 200px;
  width: 100%;
  height: 45px;
  object-fit: cover;
}

@media (max-width: 412px) {
  .partners {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .comunity {
    margin: 0;
  }
}
