.organizationAndSupport {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 100vh;
    width: 1216px;
}

.organizationAndSupport img {
    width: 180px;;
}