.organizationAndSupport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: calc(100vh - 73px);
    width: 1216px;
}

.organizationAndSupport ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.organizationAndSupport ul li {
    display: flex;
    gap: 23px;
}

.organizationAndSupport ul li img {
    height: 40px;
}