.organizationAndSupport {
    display: flex;
    flex-direction: column;
    width: 1216px;
    margin-bottom: 188px;
    margin-top: 100px;
}

.organizationAndSupport ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
}

.organizationAndSupport ul strong {
    font-size: 16px;
    background: var(--BG, linear-gradient(5deg, #FE2A2A 12.5%, #F7931E 0.4%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.organizationAndSupport ul li {
    display: flex;
    gap: 23px;
}

.organizationAndSupport ul li img {
    height: 30px;
}

@media(max-width: 1483px) {
    .organizationAndSupport ul {
        gap: 30px;
    }

    .organizationAndSupport {
        gap: 30px;
    }

    .organizationAndSupport ul li {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        display: flex;
       justify-content: start;
    }
}


@media (max-width: 435px) {
    .organizationAndSupport ul {
        margin-left: 30px;
    }

    .organizationAndSupport {
        display: flex;
        align-items: start;
    }
}


@media (max-width: 1340px) {
    .organizationAndSupport {
        width: 100%;
    }

    .organizationAndSupport ul {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1343px) {
    .organizationAndSupport  {
        margin-top: 64px;
    }
    .organizationAndSupport ul li {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 2fr);
    }
}

@media (max-width: 814px)  {
    .organizationAndSupport ul li {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 679px) {
    .organizationAndSupport ul li img  {
        height: 25px;
    }

    .organizationAndSupport ul li {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 435px) {
    .organizationAndSupport ul {
        margin-left: 20px;
    }
}